/* цвет остновного текста #212121 */
/* вторичный цвет текста  #757575 */

/* основной фон background: #FFFFFF; */
/* фон команда background: #F5F4FA; */
/* футер фон background: #2F303A; */



/* синий цвет кнопки и Веб #2196F3 */
/* белый #212121 */
/* текст с прозрачн  color: rgba(255, 255, 255, 0.6); */
/* цвет остновного текста #212121 */



:root {
    /* текс */
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --accent-text-color:#2196F3;
    --logo-black-color:#000000;
    --base-white-color: #FFFFFF;

    /* фон */
    --primary-bg-color:#FFFFFF;
    --accent-bg-color: #2F303A;
    --accent-secondary-bg-color: #2196F3;
    --base-white-bg-color: #FFFFFF;
    --secondary-bg-color: #F5F4FA;
}

body {
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
}

ul {
    list-style: none;
}

/* Header nav+cont. */
header{
}

.logo {
    color:var(--logo-black-color);
}
.logo span {
    color: var(--accent-text-color);
}

.site-nav a {
   color: var(--title-text-color);
}

.contact-nav a {
    color: var(--title-text-color);
}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-text-color);
}
.site-nav .link-current {
    color: var(--accent-text-color);
}

.contact-nav :hover, .contact-nav :focus {
    color: var(--accent-text-color);
}

/* Герой банер с заголовком */

.hero {
    background-color: var(--accent-bg-color);
}
.hero-title {
    color: var(--base-white-color);
}

/* Button */

.button-primary {
    color: var(--base-white-color);
    background-color: var(--accent-secondary-bg-color);
}

.button-secondary {
    color:var(--title-text-color);
    background: var(--secondary-bg-color);
}
.button-secondary:hover,
.button-secondary:focus {
    color: var(--base-white-color);
    background-color: var(--accent-secondary-bg-color);
}

 /* Особливості (ЗАГОЛОВОК h2 прибрати в CSS) */

 .features {
 }

.features .title {
    color: var(--title-text-color);
}

/* чим ми займаємось */
.list-works {
}

.list-works .title {
    color: var(--title-text-color);
}

/* наша команда */

.team {
    background-color: var(--secondary-bg-color);
}
.team .title {
    color: var(--title-text-color);
}
.team-igor {
    background-color: var(--base-white-bg-color);
}
.team-olga {
    background-color: var(--base-white-bg-color);
}
.team-mukola {
    background-color: var(--base-white-bg-color);
}
.team-muhaylo {
    background-color: var(--base-white-bg-color);
}

/* Подвал  */

footer {
    background-color: var(--accent-bg-color);
}

.logo-footer {
    color: var(--base-white-color);
}
.logo-footer span {
    color: var(--accent-text-color);
}
.footer-address {
    color: var(--base-white-color);
}
.footer-contact {
    color: rgba(255, 255, 255, 0.6);
}

/* Портфолио */
.main-portfolio {
    background-color: var(--primary-bg-color);
}

.list-menu {
}

.list-filter {

}

.list-filter .title {
    color: var(--title-text-color);

}





