
body {
    background-color: #FFFFFF;
    color: #757575;
}

ul {
    list-style: none;
}

   
/* Header nav+cont. */

.logo {
    color:#000000;
}
.logo span {
    color:#2196F3 ;
}

.site-nav a {
   color: #212121;
}

.contact-nav a{
    color: #212121;
}

.site-nav :hover {
    color: #2196F3;
}
.contact-nav :hover {
    color: #2196F3;
}

/* Герой банер с заголовком */

.hero {
    background-color: #2F303A;
}
.title-hero {
    color:#FFFFFF;
}
.button {
    color:#FFFFFF;
    background: #2196F3;
}
    
 /* Особливості (ЗАГОЛОВОК h2 прибрати в CSS) */

 .features {
  background-color: #F5F5F5;
 }

 .features h2 {
   
 }

 .features h3 {
    color: #212121;
 }










/* цвет остновного текста #212121 */
/* вторичный цвет текста  #757575 */

/* хеадер фон background: #FFFFFF; */
/* основной фон background: #F5F5F5; */
/* фон команда background: #F5F4FA; */
/* футер фон background: #2F303A; */



/* синий цвет кнопки и Веб #2196F3 */
/* белый #212121 */
/* текст с прозрачн  color: rgba(255, 255, 255, 0.6); */
/* цвет остновного текста #212121 */


